extends default

block header

block content
  div.profile
    div.profile-image(style=`background: url('/images/nocody.jpg') top center
    no-repeat; background-size: cover;`)
    div.profile-details
      h1.profile-name
        | Dima Ismail
      h2.profile-tagline
        | Engineer & Software Developer
      p.profile-bio
        | I am a final year engineering student looking to blah blah
      a.button.button-twitter(href=`https://www.linkedin.com/in/dimaismail`)
        | Follow me on LinkedIn